<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-set-resolution-workflow</string>
	<key>connections</key>
	<dict>
		<key>7FCD3413-2CB3-41C2-9641-62C1DD170A33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F356255B-4349-482F-A505-89B0B9D90F14</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A workflow to change between available resolutions on your display, specially handy for Retina displays.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Set Resolution</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby set-resolution.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Resolution changed to {query}</string>
				<key>title</key>
				<string>Set Resolution</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>setres</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./feedback.rb "{query}"</string>
				<key>subtext</key>
				<string>Select between available screen resolutions, type to filter</string>
				<key>title</key>
				<string>Set Screen Resolution</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7FCD3413-2CB3-41C2-9641-62C1DD170A33</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>1B27CAC8-7961-491C-BF9D-0878AF61C1DF</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7FCD3413-2CB3-41C2-9641-62C1DD170A33</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F356255B-4349-482F-A505-89B0B9D90F14</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-set-resolution-workflow</string>
</dict>
</plist>
