<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tumblr.ramiroaraujo.alfred-screencapture-enhancer-workflow</string>
	<key>connections</key>
	<dict>
		<key>0B3DD69D-C9E3-4C88-B5F9-441244C7DE7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80EBEB7F-C3FF-482F-82E8-E9DAABA958B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1B76B123-FE16-438C-BE8B-94818C7153B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9A7FD88-DD4D-4D2F-9585-2CED8508022F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2EFDA95A-D125-45A1-8C0A-85A6E53B99F0</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>copy captured image to clipboard</string>
			</dict>
		</array>
		<key>2CDE943E-0548-4CEA-A29E-46B95C13ED29</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A9A7FD88-DD4D-4D2F-9585-2CED8508022F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>3DBDDE81-B22A-4954-9214-1241ED9B5A52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82E25C76-F2B3-4314-AC28-47F84BCFADBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3360D58A-362B-43D5-ABE6-1F83720798F8</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>copy captured image to clipboard</string>
			</dict>
		</array>
		<key>4CAB6333-906A-4349-8486-6A1BAB94500E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EFDA95A-D125-45A1-8C0A-85A6E53B99F0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>614A0F89-E274-4DD0-8FC0-ACFF170612D4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6A0B0AA0-5D12-4E75-AFBD-76C56DEDFAD1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82E25C76-F2B3-4314-AC28-47F84BCFADBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DC61C993-3DC7-4CD8-8503-6B68B28ABCDF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80EBEB7F-C3FF-482F-82E8-E9DAABA958B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>copy captured image to clipboard</string>
			</dict>
		</array>
		<key>EBA5E6A0-044C-467E-948F-65ECC75BDD34</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3360D58A-362B-43D5-ABE6-1F83720798F8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Ramiro Araujo</string>
	<key>description</key>
	<string>A screencapture enhancer workflow capable of capturing the last region and naming captured files.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Screencapture</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2CDE943E-0548-4CEA-A29E-46B95C13ED29</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./save-mouse-coordinates &amp; /usr/bin/ruby screencapture.rb &quot;area&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A9A7FD88-DD4D-4D2F-9585-2CED8508022F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>capture</string>
				<key>subtext</key>
				<string>optionally write the name of the image file, hold control to copy to clipboard</string>
				<key>text</key>
				<string>Take a screencapture</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B76B123-FE16-438C-BE8B-94818C7153B1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>./save-mouse-coordinates &amp; /usr/bin/ruby screencapture.rb &quot;area-clipboard&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2EFDA95A-D125-45A1-8C0A-85A6E53B99F0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4CAB6333-906A-4349-8486-6A1BAB94500E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1703936</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6A0B0AA0-5D12-4E75-AFBD-76C56DEDFAD1</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby screencapture.rb &quot;last-area&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>82E25C76-F2B3-4314-AC28-47F84BCFADBC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>capturelast</string>
				<key>subtext</key>
				<string>optionally write the name of the image file, hold control to copy to clipboard</string>
				<key>text</key>
				<string>Take a screencapture with previously used area</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3DBDDE81-B22A-4954-9214-1241ED9B5A52</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby screencapture.rb &quot;last-area-clipboard&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3360D58A-362B-43D5-ABE6-1F83720798F8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>21</integer>
				<key>hotmod</key>
				<integer>1966080</integer>
				<key>hotstring</key>
				<string>4</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>EBA5E6A0-044C-467E-948F-65ECC75BDD34</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby screencapture.rb &quot;screen&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80EBEB7F-C3FF-482F-82E8-E9DAABA958B0</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>0B3DD69D-C9E3-4C88-B5F9-441244C7DE7B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>capturescreen</string>
				<key>subtext</key>
				<string>optionally write the name of the image file, hold control to copy to clipboard</string>
				<key>text</key>
				<string>Take a Fullscreen screencapture</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DC61C993-3DC7-4CD8-8503-6B68B28ABCDF</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>4</integer>
				<key>script</key>
				<string>/usr/bin/ruby screencapture.rb &quot;screen-clipboard&quot; &quot;{query}&quot;</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F356255B-4349-482F-A505-89B0B9D90F14</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>20</integer>
				<key>hotmod</key>
				<integer>1441792</integer>
				<key>hotstring</key>
				<string>3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>614A0F89-E274-4DD0-8FC0-ACFF170612D4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>readme</string>
	<key>uidata</key>
	<dict>
		<key>0B3DD69D-C9E3-4C88-B5F9-441244C7DE7B</key>
		<dict>
			<key>ypos</key>
			<real>490.0</real>
		</dict>
		<key>1B76B123-FE16-438C-BE8B-94818C7153B1</key>
		<dict>
			<key>ypos</key>
			<real>70.0</real>
		</dict>
		<key>2CDE943E-0548-4CEA-A29E-46B95C13ED29</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>2EFDA95A-D125-45A1-8C0A-85A6E53B99F0</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>3360D58A-362B-43D5-ABE6-1F83720798F8</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>3DBDDE81-B22A-4954-9214-1241ED9B5A52</key>
		<dict>
			<key>ypos</key>
			<real>310.0</real>
		</dict>
		<key>4CAB6333-906A-4349-8486-6A1BAB94500E</key>
		<dict>
			<key>ypos</key>
			<real>130.0</real>
		</dict>
		<key>614A0F89-E274-4DD0-8FC0-ACFF170612D4</key>
		<dict>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
		<key>6A0B0AA0-5D12-4E75-AFBD-76C56DEDFAD1</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>80EBEB7F-C3FF-482F-82E8-E9DAABA958B0</key>
		<dict>
			<key>ypos</key>
			<real>490.0</real>
		</dict>
		<key>82E25C76-F2B3-4314-AC28-47F84BCFADBC</key>
		<dict>
			<key>ypos</key>
			<real>250.0</real>
		</dict>
		<key>A9A7FD88-DD4D-4D2F-9585-2CED8508022F</key>
		<dict>
			<key>ypos</key>
			<real>10.0</real>
		</dict>
		<key>DC61C993-3DC7-4CD8-8503-6B68B28ABCDF</key>
		<dict>
			<key>ypos</key>
			<real>550.0</real>
		</dict>
		<key>EBA5E6A0-044C-467E-948F-65ECC75BDD34</key>
		<dict>
			<key>ypos</key>
			<real>370.0</real>
		</dict>
		<key>F356255B-4349-482F-A505-89B0B9D90F14</key>
		<dict>
			<key>ypos</key>
			<real>610.0</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/ramiroaraujo/alfred-screencapture-enhancer-workflow</string>
</dict>
</plist>
